.body {
    text-align: center;

}
.image-container {
    padding: 150px 25px 20px 25px;
}
.back-home {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #fd5256;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}